@{
    ViewData["Title"] = "标签";
}
<style>
    a.tag {
        margin: 1.5rem 1.5rem 0 0;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="my-3">
                标签<br /><small>标签是最有效的内容组织形式，正确的使用标签能更快的找到信息</small>
            </h3>
            <input type="text" class="form-control" placeholder="搜索标签" id="txtSearch" />
        </div>
        <div class="col-md-12">
            <partial name="_PartialMakeTag" model="@ViewData["tags"]" />
        </div>
    </div>
</div>
<script src="~/js/JSCore.js"></script>
<script>
    $('#txtSearch').on('input', function () {
        var key = this.value.toLowerCase().trim();
        $('a.tag').each(function () {
            if (this.innerText.toLowerCase().indexOf(key) >= 0 || key == "") {
                $(this).removeClass('d-none');
            } else {
                $(this).addClass('d-none');
            }
        })
    })

    var txtSearch = document.getElementById("txtSearch");

    // Execute a function when the user releases a key on the keyboard
    txtSearch.addEventListener("keyup", function (event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            //console.log("点击了回车");
            //回车增加标签

            //TODO 空格
            //是否有非法字符
            if (illegalCharacter(txtSearch.value)) {
                jz.msg("标签含有非法字符");
                return;
            }

            $.ajax({
                url: "/home/AddTags",
                type: "post",
                data: {
                    newTag: txtSearch.value,
                },
                dataType: 'json',
                success: function (data) {
                    console.log("success");
                    console.dir(data);

                    jz.msg(data.msg);

                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                },
                error: function (ex) {
                    jz.msg(ex.msg);
                },
                complete: function () {

                }
            });
        }
    });
</script>